<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style type="text/css">
        td {
            text-align: center;
        }
    </style>
</head>
<body>
	<div class="sidenav">
	  <a href="{{ url_for('train.showpage') }}">Train model</a>
	  <a href="{{ url_for('manage_model.showpage') }}">Manage models</a>
	  <a href="{{ url_for('predict.showpage') }}">Predict</a>
	</div>

	<div id="content" class="main">
	   	<div id="showfolder" style="margin-left: 50px">
            {% if display %}
            <p class="warningtext">No data.</p>
            {% else %}
            <h2>List of image folders</h2>
                <table style="1px solid black;">
                    <tr style="background-color: gray">
                        {% for col in cols %}
                        <td>{{ col }}</td>
                        {% endfor %}
                    </tr>
                    {% for row in data %}
                    <tr>
                        {% for vl in row %}
                        <td>{{ vl }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
</body>
</html>