<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="sidenav">
	  <a href="{{ url_for('train.showpage') }}">Train model</a>
	  <a href="{{ url_for('manage_model.showpage') }}">Manage models</a>
	  <a href="{{ url_for('predict.showpage') }}">Predict</a>
	</div>

	<div id="content" class="main">
	   	<div id="showfolder" style="margin-left: 50px">
            {% if display %}
            <p class="warningtext">No data.</p>
            {% else %}
            <h2>List of image folders</h2>
                {% for key in data %}
                <div id="{{ key }}" style="border-style: dotted; border-color: black; width: 300px; height: 300px; display: inline-block;">
                    <p class="warningtext">{{key}}</p>
                    <table>
                        {% for class in data[key] %}
                        <tr>
                            <td>{{ class }}</td>
                            <td width="10px"></td>
                            <td>{{ data[key][class] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>