<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <!-- <script type="text/javascript" src="static/script.js"></script> -->
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body style="margin-left: 200px">
    <form method="post" action="/train" enctype="multipart/form-data">
    <h2>Training parameters</h2>
    <div>
        <div style="width: 100px; display: inline-block; vertical-align: top;">
            <p>Learning rate</p>
                <input type="range" name="lrInputName" id="lrInputId" value="0.001" min="0.0001" max="0.01" step="0.0001" oninput="lrOutputId.value = lrInputId.value">
                <output name="lrOutputName" id="lrOutputId">0.001</output>
        </div>

        <div style="width: 100px; display: inline-block; vertical-align: top;"></div>

        <div style="width: 100px; display: inline-block; vertical-align: top;">
            <p>Base model</p>
            <!-- <form> -->
                <input type="radio" id="xception" name="model" value="Xception" checked>
                <label for="xception">Xception</label><br>
                <input type="radio" id="mobilenet" name="model" value="Mobilenet">
                <label for="mobilenet">Mobilenet</label><br>
                <input type="radio" id="simple" name="model" value="Simple">
                <label for="simple">Simple</label>
            <!-- </form>  -->
        </div>

        <div style="width: 100px; display: inline-block; vertical-align: top;"></div>
        <div style="width: 200px; display: inline-block; vertical-align: top">
        	<p>Number of epochs</p>
        	<input id="inputEpochs" type="number" name="epoch" min="1s" step="1" value="11">
        </div>

        <div style="width: 100px; display: inline-block; vertical-align: top;"></div>
        <div style="width: 200px; display: inline-block; vertical-align: top">
            {% if data_status == 0 %}
            <p>Image folder</p>
            <select id="select" name="folder" action="/">
                {% for subfolder in folder %}
                <option value="{{ subfolder }}" SELECTED > {{ subfolder }} </option>
                {% endfor %}
                {% else %}
                <p style="color: red">Some error in image folder. Check it.</p>
                {% endif %}
            </select>
        </div>
    </div>
        <input id="btnTrain" type="submit" value="Train model"> <br>
        <script type="text/javascript">
            function showImageTrain() {
                document.getElementById("training").style.display = "block";
                document.getElementById("btnTrain").style.display = "none";
            }
            document.getElementById("btnTrain").addEventListener('click', showImageTrain);
        </script>
    </div>

    <div id="training" style="display: none">
        <p style="color: red; display: inline-block;"> Model is being trained. Don't do anything.</p>
        <img style="display: inline-block;" src="static/training.gif" width="50px">
    </div>
</form>

    <div id="resultPanel" style="width: 1100px">
        {% if acc %}
        <p name="model_name">Model "{{ model_name }}" has accuracy {{ acc }} %</p>
        <p id="trainedModelId" style="display: none">{{ model_name }}</p>


        <h2>Training history</h2>
        <div class="container" id="lossHistory" style="height: 360px; width: 500px; display: inline-block; float: left;"></div>
        <div class="container" id="accHistory" style="height: 360px; width: 500px; display: inline-block; float: right;"></div><br>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

        <script type="text/javascript">
            var valLoss = JSON.parse('{{ val_loss }}');
            var loss = JSON.parse('{{ loss }}');

            var valAcc = JSON.parse('{{ val_accuracy }}');
            var trainAcc = JSON.parse('{{ accuracy }}');
            var vL = [];
            var tL = [];
            var vA = [];
            var tA = [];
            for (var i=0; i< valLoss.length; i++) {
                vL.push({
                    x: i,
                    y: valLoss[i]
                });

                tL.push({
                    x: i,
                    y: loss[i]
                });

                vA.push({
                    x: i,
                    y: valAcc[i]
                });

                tA.push({
                    x: i,
                    y: trainAcc[i]
                });
            }

            var chartLoss = new CanvasJS.Chart("lossHistory", {
                title: {text: "Loss history"},
                axisX: {title: "Epoch", interval: 1, minimum:0},
                axisY: {title: "Loss value", minimum: 0, maximum: 2},
                legend: {cursor: "pointter", fontSize: 16},
                data: [{name: "Validation loss", type: "line", dataPoints: vL, showInLegend: true},
                       {name: "Training loss", type: "line", dataPoints: tL, showInLegend: true}]
            });

            var chartAcc = new CanvasJS.Chart("accHistory", {
                title: {text: "Accuracy history"},
                axisX: {title: "Epoch", interval: 1, minimum: 0},
                axisY: {title: "Accuracy (%)", minimum: 0, maximum: 100},
                legend: {cursor: "pointter", fontSize: 16},
                data: [{name: "Validation accuracy", type: "line", dataPoints: vA, showInLegend: true},
                       {name: "Training accuracy", type: "line", dataPoints: tA, showInLegend: true}]
            });
            chartLoss.render();
            chartAcc.render();

        </script>
        <br>
        <button id="btnDiscard" onclick="discardModel()">Discard model</button> <br>
        <script type="text/javascript">
            function discardModel() {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", 'http://localhost:8080/discard', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                var model_name = document.getElementById('trainedModelId').innerHTML;
                var parameters = {'model_name': model_name};

                xhr.send(JSON.stringify(parameters));

                // Response from server
                xhr.onload = function() {
                    console.log('Response from server.')
                    alert('Model discarded.');
                }
                document.getElementById("resultPanel").style.display = "none";
                document.getElementById("btnTrain").style.display = "block";
            }
        </script>

        <button id="btnSave" onclick="saveModel()">Save model</button> <br>
        <script type="text/javascript">
            function saveModel() {
                document.getElementById("resultPanel").style.display = "none";
                document.getElementById("btnTrain").style.display = "block";
                alert('Model saved.')
            }
        </script>

        {% endif %}
    </div>

</body>
</html>