<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <!-- <script type="text/javascript" src="static/script.js"></script> -->
    <link rel="stylesheet" type="text/css" href="static/style.css">

    <script type="text/javascript">
        function showPath(event) {
            var path = event.target.files[0].webkitRelativePath;
            var folder = path.toString().split("/");
            document.getElementById("show").innerHTML = folder[0];
        }

        function sendData() {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", 'http://127.0.0.1:8080/training', true);
            xhr.setRequestHeader('Content-Type', 'application/json');

            // Get the learning rate
            var lr = document.getElementById("lrOutputId").innerHTML;
            

            // Get the training folder
            var image_folder = document.getElementById("show").innerHTML;

            // Get the model name
            var models = document.getElementsByName("model");
            var checked_model;
            for (var i=0; i< models.length; i++){
                if(models[i].checked){
                    checked_model = models[i].value;
                }
            }

            var parameters = {'lr': lr, 'image_folder': image_folder, 'model_name': checked_model};

            xhr.send(JSON.stringify(parameters));


            // Response from server
            xhr.onload = function() {
                console.log('Response from server.')
                var status = JSON.parse(this.responseText)['status'];
                if (status == 0){
                    msg = "Training model... Don't touch anything!"
                }
                else {
                    msg = "Error. Not training. Check the data folder!"
                }
                alert(msg);
            }
        }

    </script>

</head>

<body>
    <h2>Training parameters</h2>
    <div>
        <div style="width: 100px; display: inline-block; vertical-align: top;">
            <p>Learning rate</p>
            <form name="registrationForm">
                <input type="range" name="lrInputName" id="lrInputId" value="0.001" min="0.0001" max="0.01" step="0.0001" oninput="lrOutputId.value = lrInputId.value">
                <output name="lrOutputName" id="lrOutputId">0.001</output>
            </form>
        </div>

        <div style="width: 100px; display: inline-block; vertical-align: top;"></div>

        <div style="width: 100px; display: inline-block; vertical-align: top;">
            <p>Base model</p>
            <form>
                <input type="radio" id="xception" name="model" value="xception" checked>
                <label for="xception">Xception</label><br>
                <input type="radio" id="mobilenet" name="model" value="mobilenet">
                <label for="mobilenet">Mobilenet</label><br>
                <input type="radio" id="simple" name="model" value="simple">
                <label for="simple">Simple</label>
            </form> 
        </div>

        <div style="width: 100px; display: inline-block; vertical-align: top;"></div>

        <div style="width: 200px; display: inline-block; vertical-align: top; margin-top: 15px">
            <label for="floderSelect" style="cursor: pointer;">Select training images folder
            </label>
            <input style="display: none" type="file" id="floderSelect" onchange="showPath(event)" webkitdirectory directory/>
            <p id="show" style="color: blue" ></p>

        </div>
    </div>

    <div>
        <button id="btnStartTraining" onclick="sendData()">Start training</button>
    </div>
</body>
</html>