<!DOCTYPE html>
<html>
<head>
    <title>Train model</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
	<div class="sidenav">
        <a href="{{ url_for('manage_model.showpage') }}">Manage models</a>
	    <a href="{{ url_for('predict.showpage') }}">Predict</a>
        <a href="{{ url_for('manage_data.showpage') }}">Manage data</a>
	</div>

	<div id="content" class="main">
	   <div id="prameter" style="margin-left: 50px">
            <form method="post" action="/" enctype="multipart/form-data">
            <h2>Training parameters</h2>
            <div>
                <div style="width: 300px; display: inline-block; vertical-align: top;">
                    <p>Learning rate</p>
                        <input type="range" name="lrInputName" id="lrInputId" value="0.001" min="0.0001" max="0.01" step="0.0001" oninput="lrOutputId.value = lrInputId.value">
                        <output name="lrOutputName" id="lrOutputId">0.001</output>
                </div>

                <div class="emptydiv"></div>

                <div style="width: 300px; display: inline-block; vertical-align: top;">
                    <p>Base model</p>
                        <input type="radio" id="xception" name="model" value="Xception" checked>
                        <label for="xception">Xception</label><br>
                        <input type="radio" id="mobilenet" name="model" value="Mobilenet">
                        <label for="mobilenet">Mobilenet</label><br>
                        <input type="radio" id="simple" name="model" value="Simple">
                        <label for="simple">Simple</label>
                </div>

                <div class="emptydiv"></div>
                <div style="width: 300px; display: inline-block; vertical-align: top">
                	<p>Number of epochs</p>
                	<input id="inputEpochs" type="number" name="epoch" min="1s" step="1" value="11">
                </div>

                <div class="emptydiv"></div>

                <div id="showfolder">
                    {% if display %}
                    <p class="warningtext">No data.</p>
                    {% else %}
                    <h2>List of image folders</h2>
                        {% for key in data %}
                        <div id="{{ key }}" style="border-style: dotted; border-color: black; width: 300px; height: 220px; display: inline-block;">
                            <input class="samerow" type="radio" id="{{ key }}" name="folder" value="{{ key }}" checked="">
                            <label class="warningtext samerow" for="{{ key }}">{{ key }}</label>
                            <table>
                                {% for class in data[key] %}
                                <tr>
                                    <td>{{ class }}</td>
                                    <td width="10px"></td>
                                    <td>{{ data[key][class] }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% if is_busy is sameas true %}
            <p class="warningtext">Server is busily training a model. You should wait.</p>
            {% else %}
            <input id="btnTrain" type="submit" onclick="showImageTrain()" value="Start training"> <br>
            {% endif %}
            </form>
        </div>

        <div id="training" style="display: none; margin-left: 50px">
            <p class="warningtext" style="display: inline-block;">Server is busily training a model. You should wait.</p>
            <!-- <img style="display: inline-block;" src="static/training.gif" width="50px"> -->
        </div>

        <div id="resultPanel" style="width: 1100px; margin-left: 50px">
            {% if acc %}
            <p name="model_name">Finished training model "{{ model_name }}" with accuracy {{ acc }} %</p>
            <p id="trainedModelId" style="display: none">{{ model_name }}</p>

            <h2>Training history</h2>
            <div class="container" id="lossHistory" style="height: 360px; width: 500px; display: inline-block; float: left;"></div>
            <div class="container" id="accHistory" style="height: 360px; width: 500px; display: inline-block; float: right;"></div><br>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='chart.js') }}"></script>
            <script type="text/javascript">
                var valLoss = JSON.parse('{{ val_loss }}');
                var loss = JSON.parse('{{ loss }}');
                var valAcc = JSON.parse('{{ val_accuracy }}');
                var trainAcc = JSON.parse('{{ accuracy }}');
                plotHistory(valLoss, loss, valAcc, trainAcc);
            </script>
            <br>
            <button id="btnDiscard" onclick="changeModel('discard')">Discard model</button> <br>
            <button id="btnSave" onclick="changeModel('save')">Save model</button> <br>
            {% endif %}
        </div>
    </div>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script> -->
</body>
</html>